.search .form-control,
.form-control
{
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.player-card .form-control
{
    background: #fff;
    color: #000;
}

.live-count-badge.pink 
{
    background: #8500ff;
}