.btn-transparent 
{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.btn-transparent i 
{
    margin-left: -20px;
}

h1 small 
{
    display: block;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 300;
}

.profile 
{
    background: #131313;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 5px solid rgb(0, 206, 0);
    border-radius: 5px;
}

.date
{
    text-transform: uppercase;
    font-size: 14px;
    color: #2d2d2d;
    font-weight: bold;
}

.rank 
{
    padding-bottom: 15px;
}

.rank-title 
{
    text-transform: uppercase;
    font-weight: 600;
}

.rank-title.gold
{
    color: #ffb300;
}

.rank-title.silver
{
    color: silver;
}

.rank-title.bronze
{
    color: brown;
}

.rank-title.normal
{
    color: #505050;
}

.table-hover > tbody > tr
{
    transition: all 0.3s;
} 

.table-hover > tbody > tr:hover 
{
    background-color: #0e0e0e;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td 
{
    border-top: 1px solid #252525;
}

.badge-winpercent 
{
    background-color: #00a300;
}

.panel.panel-default 
{
    background: #000;
}

.panel-default > .panel-heading 
{
    background-color: #000000;
    padding: 15px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

input.form-control
{
    color: #232323;
}

.game-detail 
{
    margin-top: -50px;
    position: relative;
    z-index: 1;
}

.game-detail .game-details 
{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.game-list 
{   
    z-index: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

// HTML Dial Overrides
.c100.big 
{
    font-size: 150px;
}

.c100.big 
{
    margin: 30px 30px 0 0;
}

.c100 
{
    background-color: #171717;

    &:after 
    {
        top: 0.04em;
        left: 0.04em;
        width: 0.92em;
        height: 0.92em;
        background-color: #131313;
    }
}

.c100.green .bar, .c100.green .fill 
{
    border-color: #00ce00!important;
}

.c100.purple .bar, .c100.purple .fill 
{
    border-color: #ff01f1!important;
}

.c100.blue .bar, .c100.blue .fill 
{
    border-color: #0083f3!important;
}

.c100 .title
{
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    z-index: 9;
    color: #c3c3c3;
    font-size: 14px;
    font-weight: 300;
}

.c100 .value 
{
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 9;
    color: #9a9a9a;
    font-weight: 100;
    font-size: 30px;
    bottom: 30px;
}

.points 
{
    color: #24f900;
}

.profile-listing 
{
    position: relative;
    background: #080808;
    padding: 30px 50px;
    border-radius: 5px;
    margin: 15px 0;
    border: 1px solid #060606;
}

.profile-detail 
{
    @extend .profile-listing;
}

.profile-detail .points 
{
    color: #fff;
}

.profile-link
{
    display: block; 
    text-decoration: none;

    &:hover, &:active, &:focus
    {
        color: silver;
        text-decoration: none;
    }
}

.profile-listing .rank 
{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 54px;
    color: #fff;
}

.rank i 
{
    font-size: 100px;
    text-align: center;
}

.badge-0 
{
    color: #0e0e0e;
}

.badge-1 
{
    color: #131313;
}

.badge-2 
{
    color: #1f1f1f
}

.badge-3 
{
    color: #313131;
}

.badge-4 
{
    color: #580067;
}

.badge-5 
{
    color: #920000;
}

.badge-6 
{
    color: #d40056;
}

.badge-7 
{
    color: #de005a;
}

.badge-8 
{
    color: #ff8f00;
}

.username 
{ 
    color: #ffffff;
    font-weight: bold;
}

h3.game-intro > span:first-child:after 
{
    content: " vs ";
    font-size: 43px;
    font-weight: bold;
    font-style: italic;
    padding: 15px
}

h3.game-intro 
{
    margin-top: 0;
    padding: 15px 0;
    font-size: 25px;
}

.recent-games 
{
    margin-bottom: 15px;
}

.recent-games .profile-listing 
{
    padding: 20px;
}

.recent-games h3.game-intro
{
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    height: 100px;
}

.recent-games h3.game-intro > span:first-child:after 
{
    font-size: 25px;
    padding: 5px;
    display: block;
    width: 100%;
    margin-left: -5px;
}

.recent-games .feature-map 
{
    margin-bottom: 15px;
    margin-top: 0;
    height: 150px;
}

.recent-games .feature-map img 
{
    max-width: 100%;
    height: 120px;
}

.recent-games .points 
{
    font-size: 15px;
}

.game-profile 
{
    position: relative;
    background: #0a0a0a;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 5px solid #101010;
    border-radius: 5px;
}

.feature-map img 
{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hud.overlay-gb
{
    background: url(../images/hud/overlay-gb.png);
}

.faction 
{
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    top: 20px;
    background-size: 50%;
}

.faction-left 
{
    background-position: top left;
    left: 30px;
    top: 30px;
}

.faction-right 
{
    background-position: top right;
    right: 30px;
    top: 30px;
}

.faction-britain,
.faction-america,
.faction-korea,
.faction-france,
.faction-germany 
{
    background-image: url(../images/hud/allied.png);
    width: 200px;
}

.faction-iraq,
.faction-cuba,
.faction-russia,
.faction-libya,
.faction-germany 
{
    background-image: url(../images/hud/soviet.png);
    width: 150px;
}

.faction-yuri
{
    background-image: url(../images/hud/yuri.png);
    width: 150px;
}

.player-stats-panel 
{
    margin-top: -20px;
    border-radius: 2px;
}

.player-stats-panel .info 
{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 2px;
    color: #fff;
}

.player-panel-blue 
{
    background: #000c2d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #000c2d 1%, #001266 51%, #001b7c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000c2d 1%,#001266 51%,#001b7c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000c2d 1%,#001266 51%,#001b7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000c2d', endColorstr='#001b7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #0036d8;
}

.player-panel-red 
{
    background: #870000; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #870000 0%, #b20000 51%, #6b0001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #870000 0%,#b20000 51%,#6b0001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #870000 0%,#b20000 51%,#6b0001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#870000', endColorstr='#6b0001',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #ce0000;
}

.player-panel-orange 
{
    background: #ed8200; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ed8200 0%, #ed6600 51%, #c96100 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ed8200 0%,#ed6600 51%,#c96100 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ed8200 0%,#ed6600 51%,#c96100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed8200', endColorstr='#c96100',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #ff7000;
}

.player-panel-yellow 
{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed8200+1,f4e400+51,ffee00+100 */
    background: #ffed51; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffed51 1%, #ffe500 51%, #fcde00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffed51 1%,#ffe500 51%,#fcde00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffed51 1%,#ffe500 51%,#fcde00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed51', endColorstr='#fcde00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #ffe400;
}
.player-panel-yellow h3, 
.player-panel-yellow p
{
    color: #000;
}

.player-panel-teal 
{
    background: #00c9f2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00c9f2 1%, #00b1dd 51%, #008dce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #00c9f2 1%,#00b1dd 51%,#008dce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #00c9f2 1%,#00b1dd 51%,#008dce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c9f2', endColorstr='#008dce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.player-panel-purple 
{
    background: #3000f4; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3000f4 1%, #7500ea 51%, #8500f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3000f4 1%,#7500ea 51%,#8500f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3000f4 1%,#7500ea 51%,#8500f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3000f4', endColorstr='#8500f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.player-panel-pink 
{
    background: #f74ff7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f74ff7 1%, #af00bf 51%, #b2009d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f74ff7 1%,#af00bf 51%,#b2009d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f74ff7 1%,#af00bf 51%,#b2009d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f74ff7', endColorstr='#b2009d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #e900f3;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) 
{ 
    .faction 
    {
        background-size: auto;
    }

    .faction-britain,
    .faction-america,
    .faction-korea,
    .faction-france,
    .faction-germany,
    .faction-iraq,
    .faction-cuba,
    .faction-russia,
    .faction-libya,
    .faction-germany 
    {
        background-size: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}


.country 
{
    position: absolute;
    right: 30px;
    bottom: 25px;
    font-size: 45px;
}