
// Breadcrumb
.breadcrumb-nav
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #0e1116;
    box-shadow: 1px -3px 2px 0px #0000003d;
    z-index: 5;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.breadcrumb-nav .breadcrumb 
{
    margin-bottom: 0;
}

.breadcrumb-item + .breadcrumb-item::before
{
    padding: 1rem 0;
    background: #0e1116;
    color: #2c3038;
}

.breadcrumb-item a
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 4px;
    color: #6c6f76;
    transition: 350ms all ease;
    background: #0e1116;

    &:hover 
    {
        color: #fff;
    }
}

.breadcrumb-item + .breadcrumb-item
{
    padding-left: 0;
}

.breadcrumb-item.active a 
{
    color: #f4f4f5;
}