.btn 
{
    text-transform: uppercase;
    border-radius: 0;
}

.btn-secondary 
{
    color: #888b97;
}

.btn.btn--outline-primary
{
    box-shadow: inset 0 0 0px 2px #71ffd1;
    background: transparent;
    color: #71ffd1;
}

.btn.btn--outline-secondary
{
    box-shadow: inset 0 0 0px 2px #747474;
    background: transparent;
    color: silver;
}

.btn-animated 
{
    // Required, since we're setting absolute on pseudo-elements
    position: relative;
    vertical-align: middle;

    &::before,
    &::after 
    {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.btn-animated-center 
{
    &:hover 
    {
        color: currentColor;
    }

    // Set up base styles, we're going to scale instead of animating width/height
    &::before,
    &::after 
    {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: center; // Ensure scaling is done from the center (expands outwards)
    }

    // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
    &::before 
    {
        border-top: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        transform: scale3d(0,1,1); // Shrink only width
    }

    &::after 
    {
        border-left: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: scale3d(1,0,1); // Shrink only height
    }

    &:hover::before,
    &:hover::after 
    {
        transform: scale3d(1,1,1); // Show full-size
        transition: transform 0.5s;
    }
}

// 
// Sizing
.btn.btn-size-md 
{
    padding: 0.5rem 1.4rem;
    font-size: 0.95rem;
}

.btn.btn-size-lg 
{
    font-size: 1.2rem;
}
