// 
// Tiberian sun countries
.country-ts-nod
{
    animation: nod-animation;
    animation-duration: 3s;
    animation-iteration-count: 5;
}

.country-ts-gdi
{
    animation: gdi-animation;
    animation-duration: 3s;
    animation-iteration-count: 5;
}

.country-ts-nod:before
{
    background-image: url(../images/game-icons/nod.png);
}

.country-ts-gdi:before
{
    background-image: url(../images/game-icons/gdi.png);
}


// 
// TS Animations
@keyframes nod-animation
{
    0% 
    {
        border-color: #250000;
    }
    50% 
    {
        border-color: #800000;
    }
    100% 
    {
        border-color: #250000;
    }
}

@keyframes gdi-animation
{
    0% 
    {
        border-color: #250000;
    }
    50% 
    {
        border-color: #805400;

    }
    100% 
    {
        border-color: #250000;
    }
}


// 
// Yuri's Revenge countries
.country-yr-korea:before
{
    background-image: url(../images/game-icons/korea.png);
}

.country-yr-america:before
{
    background-image: url(../images/game-icons/america.png);
}

.country-yr-cuba:before
{
    background-image: url(../images/game-icons/cuba.png);
}

.country-yr-iraq:before
{
    background-image: url(../images/game-icons/iraq.png);
}

.country-yr-france:before
{
    background-image: url(../images/game-icons/france.png);
}

.country-yr-yuri:before
{
    background-image: url(../images/game-icons/yuri.png);
}

.country-yr-germany:before
{
    background-image: url(../images/game-icons/germany.png);
}

.country-yr-great.britain:before,
.country-yr-great-britain:before
{
    background-image: url(../images/game-icons/great_britain.png);
}

.country-yr-libya:before
{
    background-image: url(../images/game-icons/libya.png);
}

// 
// Red Alert countries
.most-used-country.country-ra-ukraine:before
{
    background-image: url(../images/hud/ra_soviet.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-ra-germany:before
{
    background-image: url(../images/hud/ra_allies.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-ra-spain:before
{
    background-image: url(../images/hud/ra_allies.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-ra-england:before
{
    background-image: url(../images/hud/ra_allies.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-ra-france:before
{
    background-image: url(../images/hud/ra_allies.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-ra-russia:before,
.most-used-country.country-ra-ussr:before
{
    background-image: url(../images/hud/ra_soviet.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-ra-greece:before
{
    background-image: url(../images/hud/ra_allies.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-ra-turkey:before
{
    background-image: url(../images/hud/ra_allies.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-d2k-atreides:before
{
    background-image: url(../images/hud/atreides.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-d2k-harkonnen:before
{
    background-image: url(../images/hud/harkonnen.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}

.most-used-country.country-d2k-ordos:before
{
    background-image: url(../images/hud/ordos.png);
    background-size: 100%;
    width: 60%;
    height: 60%;
}