.player-faction
{
    display: flex;
    width: 80px;
    height: 38px;
    position: relative;

    &:before 
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.player-faction-kr::before,
.player-faction-korea::before
{
    background-image: url(../images/game-icons/korea.png);
}

.player-faction-um:before,
.player-faction-america:before
{
    background-image: url(../images/game-icons/america.png);
}

.player-faction-cu:before,
.player-faction-cuba:before
{
    background-image: url(../images/game-icons/cuba.png);
}

.player-faction-iq:before,
.player-faction-iraq:before
{
    background-image: url(../images/game-icons/iraq.png);
}

.player-faction-fr:before,
.player-faction-france:before
{
    background-image: url(../images/game-icons/france.png);
}

.player-faction-yuri:before
{
    background-image: url(../images/game-icons/yuri.png);
}

.player-faction-de:before,
.player-faction-germany:before
{
    background-image: url(../images/game-icons/germany.png);
}

.player-faction-gb:before,
.player-faction-great-britain:before,
.player-faction-great:before
{
    background-image: url(../images/game-icons/great_britain.png);
}

.player-faction-ly:before,
.player-faction-libya:before
{
    background-image: url(../images/game-icons/libya.png);
}

.player-faction-ru:before,
.player-faction-russia:before
{
    background-image: url(../images/game-icons/russia.png);
}


// RA
.ra.player-faction-spain:before
{
    background-image: url(../images/game-icons/ra-spain.png);
}

.ra.player-faction-england:before
{
    background-image: url(../images/game-icons/ra-greatbritain.png);
}

.ra.player-faction-germany:before
{
    background-image: url(../images/game-icons/ra-germany.png);
}

.ra.player-faction-greece:before
{
    background-image: url(../images/game-icons/ra-greece.png);
}

.ra.player-faction-russia:before
{
    background-image: url(../images/game-icons/ra-russia.png);
}

.ra.player-faction-ukraine:before
{
    background-image: url(../images/game-icons/ra-ukraine.png);
}

.ra.player-faction-uss:before
{
    background-image: url(../images/game-icons/ra-uss.png);
}



// TS
.player-faction-gdi:before
{
    background-image: url(../images/hud/ts_gdi.png);
    background-size: contain;
    background-position: center;
}

.player-faction-nod:before
{
    background-image: url(../images/hud/ts_nod.png);
    background-size: contain;
    background-position: center;
}
