.icon-game
{
    position: relative;
}

.icon-game:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/icons.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.icon-ra:before
{
    background-position: calc(0px);
}

.icon-blitz:before
{
    background-position: calc(-25px * 10);
}

.icon-sfj:before
{
    background-position: calc(-25px * 11);
}

// New icons
.icon-yr-cl:before,
.icon-yr:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/yr/yr-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-ra2-cl:before,
.icon-ra2:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/ra2/ra2-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-ts:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/ts/ts-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-ra:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/ra/ra-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-blitz:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/blitz/blitz-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-sm:before 
{
    width: 25px;
    height: 25px;
}

.icon-md:before 
{
    width: 35px;
    height: 35px;
}

.icon-lg:before 
{
    width: 50px;
    height: 50px;
}