.icon-game
{
    position: relative;
}

// New icons
.icon-ss:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/ss/ss-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-td:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/td/td-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-d2k:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/d2k/d2k-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-yr:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/yr/yr-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-mo:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/mo/mo-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-blitz:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/blitz/blitz-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-ra2:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/ra2/ra2-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-ts:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/ts/ts-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-ra:before
{
    content: "";
    display: inline-block;
    background-image: url(../images/games/ra/ra-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25px;
    height: 25px;
}