.page-video-feature
{
    padding-top: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    overflow: hidden;

    & img 
    {
        margin: auto;
        max-width: 100%;
    }

    @media(min-width: $lg-width)
    {
        text-align: left;
        padding-top: 100px;
    }
}

.page-video-feature .video 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}