.qm-stats 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qm-stats .stat
{
    padding: 20px 0px;
    width: 100%;
}

.qm-stats .stat .material-symbols-outlined
{
    font-size: 1.8rem;
    padding-bottom: 1rem;
    padding-top: 0.4rem;
}

.qm-stats .stat h4 
{
    font-weight: 400;
}

@media(min-width: $md-width)
{
    .qm-stats 
    {
        flex-direction: row;
    }
}

@media(min-width: $lg-width)
{
    .qm-stats .stat
    {
        padding: 20px 80px;
    }
}

// Colours
.qm-stats .stat.purple,
.qm-stats .stat.purple h4 
{
    color: #9600f4;
}

.qm-stats .stat.pink,
.qm-stats .stat.pink h4
{
    color: #ff005e;
}

.qm-stats .stat.blue,
.qm-stats .stat.blue h4
{
    color: #00e7ff;
}

.qm-stats .stat.magenta,
.qm-stats .stat.magenta h4
{
    color: #ff00c8;
}

.qm-stats .stat.gold,
.qm-stats .stat.gold h4 
{
    color: #ffc31b;
}

.qm-stats .stat.gold .value 
{
    color: #ffc31b;
}

.qm-stats .potd .icon 
{
    width: 35px;
    padding-bottom: 1rem;
    margin: auto;
}


// Stats layout
.qm-stats .stat 
{
    display: flex;
    flex-direction: column;
    background: #0c0c0c;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #171717;
    border-radius: 4px;
    margin-right: 15px;
}

.qm-stats .stat i 
{
    font-size: 24px;
}

.qm-stats .stat .value 
{
    font-weight: 600;
    font-size: 18px;
    color: #888b98;
}

.qm-stats .stat small 
{
    font-size: 0.8rem;
    color: #535766;
    font-weight: 600;
}
