// Theme for each ladder listing
@import 
    "_player-profile",
    "themes/_base",
    "themes/_ra2",
    "themes/_yr";


.ladder-listing .ladder-player-listing
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ladder-listing .ladder-player-listing .player-row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 1rem;

    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.ladder-player-listing .player-profile,
.ladder-player-listing .player-profile-info
{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}


@media(max-width: $md-width)
{
    .ladder-player-listing .player-profile
    {
        padding-bottom: 1rem;
    }

    .ladder-player-listing .player-rank
    {
        order: 3;
    }

    .ladder-player-listing .player-profile .player-country 
    {
        display: none;
    }

    .ladder-player-listing .player-profile-info
    {
        text-align: center;
        justify-content: center;
    }
}

@media(min-width: $lg-width)
{
    .ladder-player-listing .player-profile-info
    {
        justify-content: flex-end;
    }
}

// Table colum names
.player-row-header
{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 600;
    padding: 1rem;
}

.player-row-header .player-avatar
{
    width: 150px;
}

.player-row-header .player-rank 
{
    width: 80px;
}

.player-row-header .player-username 
{
    width: 200px;
}

.player-row-header .player-games 
{
    width: 100px;
}

.player-row-header .player-wins 
{
    width: 100px;
}

.player-row-header .player-points 
{
    width: 100px;
}

.player-row-header .player-social 
{
    width: 130px;
    margin-left: auto;
    margin-right: 2rem;
}
