/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Hide original src for now
cncnet-api/*
db/*

.fake/
cncnet-api/public/images/maps/ra2-clan/*
cncnet-api/database/migrations/2022_05_14_214858_createDummyTestAccounts.php
*Zone.Identifier*
*.sql