*
{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
    background-color: #090908;
    border: solid;
    selection-color: #22252A;
    selection-background-color: #fff;
    border-radius: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QLabel#cncnetLabel, QLabel#logoLabel
{
    background-image: url(images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 60px;
}

QPushButton
{
    font-size: 16px;
    border-radius: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 30px;
    qproperty-cursor: PointingHandCursor;
    background: #ec8500;
    border-color: #ec8500;
    color: #fff;
}

QPushButton:disabled
{
    background: #ac5500;
}

QPushButton#mapViewButton
{
    padding-left: 1px;
    padding-right: 1px;
    background-color: #0b0b0b;
    border: none;
    border-color: #000;
}

QPushButton#mapViewButton:checked
{
    padding-left: 1px;
    padding-right: 1px;
    border: none;
    background: #bc6500;
    border-color: #bc6500;
}

QPushButton#raInstallButton, QPushButton#tsInstallDirButton, QPushButton#yrInstallDirButton
{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QLineEdit
{
  padding: 6px 12px;
  height: 26px;
  border-radius: 4px;
  margin: 0;
  background: #f6f6f6;
  border: 1px solid;
  border-color: #e8e8e8;
  color: #232323;
}

QListWidget
{
    border-radius: 4px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    background-color: #fff;
}

QComboBox
{
    font-size: 24px;
    border-radius: 4px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 13px;
    padding-left: 10px;
    background-color: #fff;
}

QComboBox::drop-down
{
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px
    margin-left 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    subcontrol-origin: padding;
    subcontrol-position: right center;
    color #fff;
    background-color: #fff;
    width: 30px;
    height: 28px;
}

QComboBox::down-arrow
{
    border: none;
    width: 30px;
    height: 28px;
}

QTabWidget
{
    margin-left: 0px;
}

QTextEdit
{
    color: #000;
    background-color: #fff;
}

QGroupBox
{
    padding: 12px;
}

QGroupBox::title
{

}

/**
    Login Panel
*/

#cncnetLogo
{
    padding: 15px;
}

QLabel#emailLabel
{
    margin-top: 50px;
}

QLabel#passwordLabel,
QLabel#emailLabel
{
    margin-left: 25px;
    margin-bottom: 0;
    color: #ec8500;
    font-weight: bold;
}

#troubleLabel
{
    margin-right: 30px;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 300;
}

#loginButton,
#registerButton
{
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 14px;
}

#loginButton
{
    background: #f68b00;
    margin-left: 30px;
}

#registerButton
{
    background: #000000;
    margin-right: 30px;
}

QLineEdit#emailAddress,
QLineEdit#password
{
    margin: 0 30px;
}
