.btn-transparent {
  color: white;
  text-transform: uppercase;
  font-size: 15px; }

.btn-transparent i {
  margin-left: -20px; }

h1 small {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 300; }

.profile {
  background: #131313;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 5px solid #00ce00;
  border-radius: 5px; }

.rank {
  padding-bottom: 15px; }

.rank-title {
  text-transform: uppercase;
  font-weight: 600; }

.rank-title.gold {
  color: #ffb300; }

.rank-title.silver {
  color: silver; }

.rank-title.bronze {
  color: brown; }

.rank-title.normal {
  color: #505050; }

.table-hover > tbody > tr {
  transition: all 0.3s; }

.table-hover > tbody > tr:hover {
  background-color: #0e0e0e; }

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 1px solid #252525; }

.badge-winpercent {
  background-color: #00a300; }

.panel.panel-default {
  background: #000; }

.panel-default > .panel-heading {
  background-color: #000000;
  padding: 15px;
  color: white;
  font-weight: 500;
  font-size: 18px; }

input.form-control {
  color: #232323; }

.game-detail {
  margin-top: -50px;
  position: relative;
  z-index: 1; }

.game-detail .game-details {
  width: 500px;
  max-width: 100%;
  margin: 0 auto; }

.game-list {
  z-index: 0;
  padding-top: 50px;
  padding-bottom: 50px; }

.c100.big {
  font-size: 150px; }

.c100.big {
  margin: 30px 30px 0 0; }

.c100 {
  background-color: #171717; }
  .c100:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
    background-color: #131313; }

.c100.green .bar, .c100.green .fill {
  border-color: #00ce00 !important; }

.c100.purple .bar, .c100.purple .fill {
  border-color: #ff01f1 !important; }

.c100.blue .bar, .c100.blue .fill {
  border-color: #0083f3 !important; }

.c100 .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  z-index: 9;
  color: #c3c3c3;
  font-size: 14px;
  font-weight: 300; }

.c100 .value {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 9;
  color: #9a9a9a;
  font-weight: 100;
  font-size: 30px;
  bottom: 30px; }

.profile-listing {
  background: #080808;
  padding: 30px 50px;
  border-radius: 5px;
  margin: 15px 0;
  border: 1px solid #060606; }
  .profile-listing:hover {
    background: #000;
    border: 1px solid #000; }

.profile-link {
  display: block;
  text-decoration: none; }
  .profile-link:hover, .profile-link:active, .profile-link:focus {
    color: silver;
    text-decoration: none; }

.rank {
  position: absolute;
  top: 10px;
  right: 10px; }

.rank i {
  font-size: 66px;
  color: #101010; }

.username {
  color: #ffffff;
  font-weight: bold; }

.points {
  color: #24f900; }

h3.game-intro > span:first-child:after {
  content: " vs ";
  font-size: 43px;
  font-weight: bold;
  font-style: italic;
  padding: 15px; }

h3.game-intro {
  margin-top: 0;
  padding: 15px 0;
  font-size: 25px; }

.recent-games {
  margin-bottom: 15px; }

.recent-games .profile-listing {
  padding: 20px; }

.recent-games h3.game-intro {
  font-size: 15px;
  padding: 5px 0;
  text-align: center;
  height: 100px; }

.recent-games h3.game-intro > span:first-child:after {
  font-size: 25px;
  padding: 5px;
  display: block;
  width: 100%;
  margin-left: -5px; }

.recent-games .feature-map {
  margin-bottom: 15px;
  margin-top: 0;
  height: 150px; }

.recent-games .feature-map img {
  max-width: 100%; }

.recent-games .points {
  font-size: 15px; }

.game-profile {
  position: relative;
  background: #0a0a0a;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 5px solid #101010;
  border-radius: 5px; }

.feature-map img {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px; }

.hud.overlay-gb {
  background: url(../images/hud/overlay-gb.png); }

.faction {
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  top: 20px;
  background-size: 50%; }

.faction-left {
  background-position: top left;
  left: 15px;
  top: 15px; }

.faction-right {
  background-position: top right;
  right: 15px;
  top: 15px; }

.faction-britain,
.faction-america,
.faction-korea,
.faction-france,
.faction-germany {
  background-image: url(../images/hud/allied.png);
  width: 200px; }

.faction-iraq,
.faction-cuba,
.faction-russia,
.faction-libya,
.faction-germany {
  background-image: url(../images/hud/soviet.png);
  width: 150px; }

.faction-yuri {
  background-image: url(../images/hud/yuri.png);
  width: 150px; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .faction {
    background-size: auto; }
  .faction-britain,
  .faction-america,
  .faction-korea,
  .faction-france,
  .faction-germany,
  .faction-iraq,
  .faction-cuba,
  .faction-russia,
  .faction-libya,
  .faction-germany {
    background-size: 100%; } }

/* Large devices (large desktops, 1200px and up) */
