# Daily jobs
10 5 * * * cncnet /app/elogen -o /data -m ra2 -l info >> /tmp/elogen_ra2.log 2>&1
30 5 * * * cncnet /app/elogen -o /data -m blitz-2v2 -l info >> /tmp/elogen_blitz-2v2.log 2>&1
40 5 * * * cncnet /app/elogen -o /data -m yr -l info >> /tmp/elogen_yr.log 2>&1

# Three times a week
55 5 * * 1,3,5 cncnet /app/elogen -o /data -m blitz -l info >> /tmp/elogen_blitz.log 2>&1
10 6 * * 1,3,5 cncnet /app/elogen -o /data -m ra -l info >> /tmp/elogen_ra.log 2>&1
