// Base theme
.ladder-listing
{
    background: #07080c;
}

.ladder-listing .player-row
{
    background: #13161f;
    color: #b5c9e0;
    
    & a 
    {
        color: #fff;
        transition: all ease 350ms;

        &:hover 
        {
            color: #fff;
        }
    }

    @media(min-width: $lg-width)
    {
        & a 
        {
            color: #b5c9e0;
        }
    }
}

@media(max-width: $lg-width)
{
    .ladder-listing .player-row .player-rank 
    {
        color: #fff;
    }
}

.ladder-listing .player-row-header
{
    color: #fdfdfd;
    font-size: 1.7rem;

    @media(max-width: $xl-width)
    {
        display: none;
    }
}

.ladder-listing .player-row:nth-child(2n+3)
{
    background: #1f2331;
}

.ladder-listing .qm-stats .stat
{
    background: #0b0d14;
    border: 1px solid #161926;
}


// Default no Avatar bg 
.ladder-listing .player-row .avatar 
{
    background-color: #1f2331;
}

.ladder-listing .player-row .player-profile-info .player-stat span 
{
    color: #333746;
}

.ladder-listing .player-row.rank-1
{
    background: rgba(0, 255, 138,0.4);
    border: 1px solid #00ff8a9e;

    * { color: #fff;}
    .player-stat span { color: #fff;}
}