.dev-profiles 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dev-profiles .profile 
{
    margin-bottom: 20px;
    padding: 15px 25px;
}

@media(min-width: $md-width)
{
    .dev-profiles .profile 
    {
        width: 45%;
    }
}