.feature-component .feature-background:after 
{
    height: 400px;
    background: linear-gradient(to bottom, rgba(0, 95, 246, 0) 0%, rgba(0, 110, 246, 0.03) 14%, rgba(0, 72, 246, 0.09) 32%, rgba(0, 121, 246, 0.31) 60%, #004993 110%);
}

.feature-component p 
{
    font-size: 22px;
    line-height: 1.0;
    font-weight: 100;
}

.feature-component:before
{
    height: 300px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) 
{ 
    .feature-component .feature-background.sub-feature-background 
    {
        padding-top: 105px;
        padding-bottom: 100px;
    }
}