.ladder-header 
{
    display: flex;
    flex-direction: column;
    text-align: center;

    @media(min-width: $md-width)
    {
        flex-direction: row;
        text-align: left;
    }
}

.ladder-header .ladder-title 
{
    font-family: $font-oswald;
}

.ladder-header .ladder-title h1
{
    font-weight: 300;
}

.ladder-header .ladder-title strong 
{
    font-weight: 500;
}

.ladder-header .ladder-title small 
{
    color: #fff;
    font-family: $font-oswald;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}

.ladder-header  .ladder-logo 
{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    order: -1;

    & img 
    {
        max-height: 180px;
        max-width: 100%;
    }

    @media(min-width: $md-width)
    {
        margin-right: 0;
        order: 1;
    }
}