.heap-panel
{
    color: white;
    background-color: black;
    border: 1px solid;
    margin-bottom: 0;
    margin-top: 0;
}

.heap-control
{
    color: white;
    background-color: black;
    padding: 0px 4px 0px 4px;
    margin: 0;
    border: 1px solid black;
}
.heap-control:focus
{
    border: 1px solid #f68b00;
}

.heap > td
{
    margin: 0;
    padding: 0;
    height: 0;
}

button.heap
{
    padding: 2px;
    margin: 0;
    font-size: 12px;
}
