.player-box
{
    background: #000;
    border-radius: 5px;
    padding: 30px;
}
.player-box-link
{
    display: block;
    color: #fff;
    margin-bottom: 25px;
    &:hover, &:focus { text-decoration: none; }
}

.player-box .rank
{
    font-weight: 100;
    font-size: 38px;
    margin-top: 10px;
}

.player-box .username
{
    color: #fff;
    margin-bottom: 0;
}

.player-box .points
{
    font-size: 12px;
}

.player-badge
{
    width: 90px;
    height: 86px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -5px;
}

.player-box .extra-stats
{
    font-size: 12px;
    color: #777777;
}

.badge-2x
{
    width: 209px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.badge-100
{
    background: url(/images/badges/100-points.png);
}
.badge-250
{
    background: url(/images/badges/250-points.png);
}
.badge-500
{
    background: url(/images/badges/500-points.png);
}
.badge-1000
{
    background: url(/images/badges/1000-points.png);
}
.badge-1500
{
    background: url(/images/badges/1500-points.png);
}
.badge-2000
{
    background: url(/images/badges/2000-points.png);
}
.badge-2500
{
    background: url(/images/badges/2500-points.png);
}
.badge-3000
{
    background: url(/images/badges/3000-points.png);
}
.badge-3500
{
    background: url(/images/badges/3500-points.png);
}

// x2
.badge-100-x2
{
    background: url(/images/badges/100x2-points.png);
}
.badge-250-x2
{
    background: url(/images/badges/250x2-points.png);
}
.badge-500-x2
{
    background: url(/images/badges/500x2-points.png);
}
.badge-1000-x2
{
    background: url(/images/badges/1000x2-points.png);
}
.badge-1500-x2
{
    background: url(/images/badges/1500x2-points.png);
}
.badge-2000-x2
{
    background: url(/images/badges/2000x2-points.png);
}
.badge-2500-x2
{
    background: url(/images/badges/2500x2-points.png);
}
.badge-3000-x2
{
    background: url(/images/badges/3000x2-points.png);
}
.badge-3500-x2
{
    background: url(/images/badges/3500x2-points.png);
}

.player-card
{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
}

.player-card.carville
{
    background-image: url(/images/cards/player-cards-yr-carville.png);
}

.player-card.yuri
{
    background-image: url(/images/cards/player-cards-yr-yuri.png);
}

.player-card.kane
{
    background-image: url(/images/cards/player-cards-ts-kane.png);
}

.player-card.gdi
{
    background-image: url(/images/cards/player-cards-ts-gdi.png);
}

.player-card.nod
{
    background-image: url(/images/cards/player-cards-ts-nod.png);
}

.player-card.ts-tank
{
    background-image: url(/images/cards/player-cards-ts-tank.png);
}

.player-card.ts-commander
{
    background-image: url(/images/cards/player-cards-ts-commander.png);
}

.player-card.yuri-closeup
{
    background-image: url(/images/cards/player-cards-yr-closeup.png);
}

.player-card.yuri-closeup
{
    background-image: url(/images/cards/player-cards-yr-closeup.png);
}

.player-card.ra-allied
{
    background-image: url(/images/cards/player-cards-ra-allied.png);
}

.player-card.ra-soviet
{
    background-image: url(/images/cards/player-cards-ra-soviet.png);
}

.player-card.ra-missile
{
    background-image: url(/images/cards/player-cards-ra-missile.png);
}

.player-card.tesla-trooper
{
    background-image: url(/images/cards/player-cards-yr-tesla-trooper.png);
}

.player-box .player-box-faction
{
    position: absolute;
    background-size: 33%;
    background-position: bottom right;
    right: 10px;
    bottom: 10px;
    top: auto;
    margin: 30px;
}
