.qm-stats 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qm-stats .stat
{
    padding: 20px 0px;
    width: 100%;
}

.qm-stats .stat h4 
{
    font-weight: 400;
}

@media(min-width: $md-width)
{
    .qm-stats 
    {
        flex-direction: row;
    }
}

@media(min-width: $lg-width)
{
    .qm-stats .stat
    {
        padding: 20px 80px;
    }
}

// Colours
.qm-stats .stat.green,
.qm-stats .stat.green h4
{
    color: #00ff66;
}

.qm-stats .stat.blue,
.qm-stats .stat.blue h4
{
    color: #00e7ff;
}

.qm-stats .stat.purple,
.qm-stats .stat.purple h4
{
    color: #ff00c8;
}

.qm-stats .stat.gold,
.qm-stats .stat.gold h4 
{
    color: #ffcd00;
}


// Stats layout
.qm-stats .stat 
{
    display: flex;
    flex-direction: column;
    background: #0c0c0c;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #171717;
    border-radius: 4px;
    margin-right: 15px;
}

.qm-stats .stat i 
{
    font-size: 24px;
}

.qm-stats .stat .value 
{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.qm-stats .stat small 
{
    text-transform: uppercase;
    font-weight: 600;
    color: #929292;
}
