.btn-transparent
{
    background: none;
    border: none;
    outline: 0;

    &:hover, &:focus, &:active,
    &:active:hover,
    &:active:focus,
    &:focus:hover
    {
        background: none;
        border: none;
        outline: 0;
    }
}


.btn-primary
{
    font-size: 17px;
    border-radius: 2px;

    background: $brand-primary;
    border-color: $brand-primary;

    &:hover, &:focus, &:active,
    &:active:hover,
    &:active:focus,
    &:focus:hover
    {
        background: darken($brand-primary, 2%);
        border-color: darken($brand-primary, 2%);
    }
}

.btn-secondary
{
    @extend .btn-primary;
    background: $brand-secondary;
    border-color: $brand-secondary;
    color: #fff;

    &:hover, &:focus, &:active,
    &:active:focus,
    &:active:hover,
    &:focus:hover
    {
        background: darken($brand-secondary, 10%);
        border-color: darken($brand-secondary, 10%);
    }
}

.btn-tertiary
{
    @extend .btn-primary;
    background: transparent;
    border-color: #fff;
    color: #fff;

    &:hover, &:focus, &:active,
    &:active:focus,
    &:active:hover,
    &:focus:hover
    {
        background: transparent;
        border-color: $brand-primary;
        color: $brand-primary;
    }
}


.btn-transparent
{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.btn-transparent i
{
    margin-left: -20px;
}
