// 
// Fonts
$font-open-sans: 'Open Sans', sans-serif;
$font-oswald: 'Oswald', sans-serif;

.font-primary-light
{
    font-family: $font-open-sans;
    font-weight: 300;
}

.font-primary
{
    font-family: $font-open-sans;
    font-weight: 500;
}

.font-primary-bold
{
    font-family: $font-open-sans;
    font-weight: 700;
}

.font-secondary-light
{
    font-family: $font-oswald;
    font-weight: 300;
}

.font-secondary 
{
    font-family: $font-oswald;
    font-weight: 500;
}

.font-secondary-bold
{
    font-family: $font-oswald;
    font-weight: 700;
}

// Icon sizes
.icon-xs
{
    font-size: $icon-xs-size;
}

.icon-sm
{
    font-size: $icon-sm-size;
}

.icon-md
{
    font-size: $icon-md-size;
}

.icon-lg
{
    font-size: $icon-lg-size;
}