/* Player Detail */
.player .player-profile 
{

}

.player .player-statistics 
{
    padding: 0;
}

.player .dark-texture:before
{
    background: none;
}

.player .player-badge 
{
    margin-right: 0;
    margin-left: auto;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) 
{ 
    .player .player-badge 
    {
        position: absolute;
        right: 25px;
    }
}

.player .feature-background
{
    padding-bottom: 0;
    color: #fff;
    font-size: 15px;
}

.profile 
{
    background: url(../images/textures/dark-pattern.jpg);
    padding: 15px;
    margin: 0 auto;
}

.player .rank 
{
    font-size: 70px;
    font-weight: 600;
}

.player .rank span 
{
    font-size: 65%;
    letter-spacing: -1px;
    font-weight: 500;
}
