/* Player Detail */
.player .player-profile 
{

}

.player .player-statistics 
{
    padding: 0;
}

.player .feature-background
{
    padding-bottom: 0;
    color: #fff;
    font-size: 15px;
}

.profile 
{
    background: url(../images/textures/dark-pattern.jpg);
    padding: 40px;
    margin: 0 auto;
}


.player .rank 
{
    font-size: 70px;
    font-weight: 600;
}

.player .rank span 
{
    font-size: 65%;
    letter-spacing: -1px;
    font-weight: 500;
}
