.ladder-link 
{
    display: flex;
    width: 100%;
    height: 300px;
    max-width: 100%;
    padding-bottom: 1rem;
}

.ladder-cover
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid transparent;
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: cover;
    text-align: center;
}

.hidden { display: none; }
.form-group 
{
    margin-bottom: 15px;
}

.player-of-the-day-award 
{
    color: #ffc31b;
}

.countdown.js-countdown 
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #4107ff, #ff0b63);
    color: white;
    height: 50px;
    @extend %font-primary-bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: ease all 250ms;
}

.countdown.hidden 
{
    opacity: 0;
    height:0;
}

.icon-clan 
{
    background: linear-gradient(45deg, #4fe8f0, #0090d5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.announcement 
{
    text-transform: uppercase;
    transition: ease all 250ms;
    border-radius: 10px;
    text-align: center;

    font-size: 1.5rem;
    @media(min-width: $md-width)
    {
        font-size: 1.9rem;
    }
    
    a 
    {
        font-weight: 600;
        @extend %font-primary-bold;
        color: #2e66ff; 
        background-image: -webkit-linear-gradient(0deg, #2e66ff 25%, #2ed2ff 86%); 
        background-clip: text; 
        -webkit-background-clip: text; 
        text-fill-color: transparent; 
        -webkit-text-fill-color: transparent;
    }
}

.max-container 
{
    width: 1900px;
    max-width: 100%;
}

.icon-box 
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: #232735;
    width: 60px;
    height: 60px;
}

.support-cncnet 
{
    color: black;
    font-weight: bold;
    background: linear-gradient(163deg, #00fff2, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    flex-direction: column;
    z-index: 1;

    @media(min-width: $lg-width)
    {
        flex-direction: row;
    }
}

.support-cncnet .lead 
{ 
    margin: 0;
    font-weight: 600;

    @media(min-width: $lg-width)
    {
        font-size: 1.4rem;
    }
}

.support-cncnet .support-cta 
{
    padding-top: 1rem;

    @media(min-width: $lg-width)
    {
        padding-top: 0;
        padding-left: 2rem;
    }
}

@media(max-width: $lg-width)
{
    .support-cncnet .lead 
    {
        font-size: 16px;
    }

    .support-cncnet .btn 
    {
        font-size: 14px;
        padding: 0.5rem 1rem;
    }
}

.ck.ck-editor {
    position: relative;
    color: black;
}

.header h4 small {
    opacity: 1;
    text-decoration: underline;
    margin-left: 0.5rem;
}

.swiper-scrollbar-drag {
    background: rgb(255 255 255 / 11%)
}

.swiper-slide {
    user-select: none;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $color-green;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: $color-green;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.emoji-container {
    font-family: $font-emoji;
}