.tutorial
{
    margin-bottom: 25px;
}

.account-box
{
    display: flex;
    flex-direction: column;

    background: #080808;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid #0e0e0e;
}

.account-box label { color: #0068d2; }

.account-box h2 
{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
}

.account-box p,
.account-box ul
{
    font-size: 15px;
}

.account-player-listings
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media(min-width: $md-width)
{
    .account-player-listings
    {
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.player-listing
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 50%;

    background: #131313;
    margin: 5px;
    padding: 5px 15px;
    border: 1px solid #101010;
    border-radius: 10px;
}

@media(min-width: $md-width)
{
    .player-listing
    {
        width: 30%;
    }
}

.player-listing i 
{
    padding: 5px 0;
}

.player-listing.active 
{
    border: 2px solid rgba(0, 104, 210, 0.7);
}

.player-listing .card .form-control
{
    width: 65%;
    font-size: 12px;
    color: silver;
}

.player-listing .card .btn-submit
{
    background: #000;
    color: silver;
}

.player-listing .username
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 100px;
}

.player-listing .btn-activate
{
    font-size: 13px;
    font-weight: 600;
    background: #0068d2;
    color: #fff;
    border: 0;
}

.player-listing .card
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.player-listing .username-status > p,
.player-listing .card > p 
{
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #5d5d5d;
    font-weight: 600;
}

.player-listing .username-status
{
    width: 100%;
}

.player-listing form#usernameStatus
{
    margin-top: 15px;
}