.clan-members-box
{
    background: #080808;
    border-radius: 8px;
    border-width: 1px;
    border-color: #ddd;
    box-shadow: none;
    padding: 0;
    margin: 22px;
}

.clan-members-body,
.clan-members-footer,
.clan-members-header
{
    border-bottom: 1px solid;
    padding: 0 8px 0 8px;
    overflow: hidden;
}

.clan-members-footer
{
    border: none;
    min-height: 32px;
}
.clan-members-header h3,
.clan-members-footer h3
{
    display: inline-block;
    width: 50%;
    text-align: center;
    margin: 16px 0 16px;
}

.clan-members-header div,
.clan-members-footer div
{
    float: right;
    width: 50%;
}

.clan-members-table
{
    margin: 0 0 0 0;
}

.clan-members-table tbody > tr > td
{
    font-size: 18px;
    vertical-align: baseline;
}

.clan-members-body .btn
{
    margin: 0;
    padding: 2px;
}

.clan-danger
{
    color: red;
}
