.admin-users .users
{
    display: flex;
    flex-wrap: wrap;
}

.user-info
{
    background: black;
    padding: 15px;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.admin-users .player-nicknames
{
    display: flex;
    padding: 0 5px;
    margin-bottom: 8px;
}

.admin-users .player-nicknames > i, 
.admin-users .player-nicknames > a
{
    margin-right: 15px;
}
