.game-detail .map-preview 
{
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100%;
}

.game-detail .player 
{
    font-family: $font-primary;
    position: absolute;
    background: linear-gradient(0deg, #000000e0, #040404b3);
    color: #fff;
    display: flex;
    align-items: center;
    border-top: 0;
    padding-right: 0.5rem;

    @media(min-width: $md-width)
    {
        min-width: 160px;
        height: 60px;
        border-radius: 4px;
        padding-right: 2rem;
    }
}

// Player
.game-detail .player-marker 
{
    position: absolute;
    width: 30px; 
    height: 30px; 
}

@media(max-width: $md-width)
{
    .game-detail.clan-detail .player-marker 
    {
        width: 20px; 
        height: 20px;
        
        .player-start-position
        {
            font-size: 0.6rem;
        }
    }
}

.game-detail .player-marker .player-start-position 
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8784313725), rgba(4, 4, 4, 0.7019607843));
}


// Game colours
.game-detail .player-marker .player-start-position.red 
{
    border: 2px solid #c30000;
}

.game-detail .player-red 
{
    border: 2px solid #c30000;
    box-shadow: 0px -2px #ff2222;
    border-top: 0;
}

.game-detail .player-marker .player-start-position.yellow 
{
    border: 2px solid #fffb00;
}

.game-detail .player-yellow 
{
    border: 2px solid #fffb00;
    box-shadow: 0px -2px #fffb00;
    border-top: 0;
}

.game-detail .player-marker .player-start-position.green 
{
    border: 2px solid #2bff00;
}

.game-detail .player-green 
{
    border: 2px solid #2bff00;
    box-shadow: 0px -2px #2bff00;
    border-top: 0;
}

.game-detail .player-marker .player-start-position.blue 
{
    border: 2px solid #001aff;
}

.game-detail .player-blue 
{
    border: 2px solid #001aff;
    box-shadow: 0px -2px #001aff;
    border-top: 0;
}

.game-detail .player-marker .player-start-position.orange 
{
    border: 2px solid #ffa600;
}

.game-detail .player-orange 
{
    border: 2px solid #ffa600;
    box-shadow: 0px -2px #ffa600;
    border-top: 0;
}

.game-detail .player-marker .player-start-position.teal 
{
    border: 2px solid #00f7ff;
}

.game-detail .player-teal 
{
    border: 2px solid #00f7ff;
    box-shadow: 0px -2px #00f7ff;
    border-top: 0;
}

.game-detail .player-marker .player-start-position.purple 
{
    border: 2px solid #c300ff;
}

.game-detail .player-purple 
{
    border: 2px solid #c300ff;
    box-shadow: 0px -2px #c300ff;
    border-top: 0;
}

.game-detail .player-marker .player-start-position.pink 
{
    border: 2px solid #ff009d;
}

.game-detail .player-pink 
{
    border: 2px solid #ff009d;
    box-shadow: 0px -2px #ff009d;
    border-top: 0;
}

.game-detail .status-lost 
{
    color: $color-lost;
    font-weight: 700;
    font-size: 0.8rem;
    
    @media(min-width:$md-width)
    {
        font-size: 1rem;
    }
}

.game-detail .status-won 
{
    color: $color-green;
    font-weight: 700;
    font-size: 0.8rem;

    @media(min-width:$md-width)
    {
        font-size: 1rem;
    }
}

.game-detail .player .username 
{
    font-size: 0.95rem;
    font-weight: 400;
}

@media(max-width: $lg-width)
{
    .game-detail.clan-detail .status-won,
    .game-detail.clan-detail .status-lost 
    {
        font-size: .6rem;
    }
    
    .game-detail.clan-detail .username 
    {
        font-size: .65rem;
    }
}


.game-detail .player .player-details 
{
    padding-left: 0.5rem;
    padding-right: 22px;
    @media(min-width:$md-width)
    {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.game-detail .player .player-details .faction 
{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;

    .player-faction 
    {
        width: 25px;
        height: 16px;
    }

    @media(min-width: $md-width)
    {
        .player-faction 
        {
            width: 40px;
            height: 19px;
        }
    }
}

.game-detail .player .player-avatar 
{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: none;
    @media(min-width: $md-width)
    {
        display: flex;
    }
}

.player-avatar .avatar-with-faction 
{
    position: relative;

    & .faction {
        padding-left: 0;
        position: absolute;
        bottom: 0;
        right: 0;

        .player-faction { 
            width: 40px;
        }
    }
}

// Game players
.game-detail .game-players 
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    @media(min-width: $xxl-width)
    {
        flex-direction: row;
    }
}

.game-detail .game-players .player-vs 
{
    justify-content: center;
    max-width: 100%;
    
    h1 
    {
        color: #ededed;
        font-weight: 400;
        font-style: italic;
        font-family: $font-impact;

        @media(min-width: $lg-width)
        {
            font-size: 3rem;
        }
    }
}


// Player cards
.game-detail .game-players-container 
{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.game-detail .player-card 
{
    display: flex;
    position: relative;
    max-width: 100%;
    margin: auto;
    width: 100%;
    margin: 1rem 0;
}

.game-detail .player-card .player-details
{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
}

.game-detail .player-card .points { font-weight: 700; display: flex; align-items: center; }
.game-detail .player-card .points.won { color: $color-green; }
.game-detail .player-card .points.lost { color: $color-lost; }

.game-detail .player-card .faction 
{
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.game-detail .player-card-right .player-details 
{
    order: -1;
}

.game-detail .player-card-right .faction 
{
    order: 1;
    margin-left: 0.5rem;
}

.game-detail .player-card .player-avatar 
{
    background: #08090e;
    border-radius: 100%;
    margin-top: 0;
    margin-bottom: auto;

    .icon 
    {
        color: silver;
        font-size: 2rem;
    }

    @media(min-width:$md-width)
    {
        margin-right: 1rem;
    }
}

// Top banner in game detail page showing Player vs Player
.game-detail .game-players-container .player-card
{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(min-width: $md-width)
    {
        justify-content: center;
        flex-direction: row;
    }
}


// Cameo / Stats breakdown
.game-detail .stats-breakdown
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media(min-width: $xxl-width)
    {
        flex-direction: row;
    }
}

.game-detail .stats-breakdown .player-card 
{
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    text-align: center;

    @media(min-width: $md-width)
    {
        padding-top:0;
        flex-direction: row;
        text-align: left;
    }
}

.game-detail .stats 
{
    display: flex;
    flex-direction: column;
    background: #14141440;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    
    @media(min-width: $lg-width)
    {
        padding: 2rem 1rem;
        margin: 0.5rem;
    }
}

.container-xl .stats {
    min-width: auto;
    width: 100%;
    max-width: 100%;
}

.game-detail .stats.lost 
{
    border-top: 2px solid #ff005b;
    background: linear-gradient(45deg, #551934, transparent);
}

.game-detail .stats.won 
{
    border-top: 2px solid #00ff66;
    background: linear-gradient(45deg, #19554a, transparent);
}

.game-detail .stats .cameo-row 
{
    min-height: 150px;
}

.game-detail .stats .cameo-title 
{
    margin-bottom: 1rem;
    color: #646464;

    & * { font-weight: 700; color: silver;}
}


// Admin styles
.game-admin .player-vs 
{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}