// Copied over from old styles

.ladder-account 
{
    .account-player-listings
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    @media(min-width: $md-width)
    {
        .account-player-listings
        {
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    .player-listing
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 5px 15px;
        border: 2px solid #101010;
        border-radius: 10px;

        padding: 1rem;
        flex-grow: 1;
    }

    .player-listing i
    {
        padding: 5px 0;
    }

    .player-listing.active, .player-listing.new:hover
    {
        border: 2px solid rgb(83 255 133);
    }

    .player-listing .card .form-control
    {
        width: 65%;
        font-size: 12px;
        color: silver;
    }

    .player-listing .card .btn-submit
    {
        background: #000;
        color: silver;
    }

    .player-listing .username
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        justify-content: center;
        height: 100px;
    }

    .player-listing .new-username
    {

    }

    .player-listing .card
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .player-listing .username-status > p,
    .player-listing .card > p
    {
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: left;
        color: #5d5d5d;
        font-weight: 600;
    }

    .player-listing .username-status
    {
        width: 100%;
    }

    .player-listing form#usernameStatus
    {
        margin-top: 15px;
    }





    .clan-box
    {
        display: flex;
        flex-direction: column;

        background: #080808;
        padding: 15px 25px;
        border-radius: 5px;
        border: 1px solid #0e0e0e;
    }

    .clan-box label { color: #0068d2; }

    .clan-box h2
    {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #ffffff;
    }

    .clan-box p,
    .clan-box ul
    {
        font-size: 15px;
    }

    .clan-listings
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media(min-width: $md-width)
    {
        .clan-listings
        {
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    .clan-listing
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 50%;

        background: #131313;
        margin: 5px;
        padding: 5px 15px;
        border: 2px solid #101010;
        border-radius: 10px;
    }

    .clan-listing
    {
        width: 100%;
    }

    @media(min-width: $md-width)
    {
        .clan-listing
        {
            width: 45%;
        }
    }

    .clan-listing i
    {
        padding: 5px 0;
    }

    .clan-listing.active, .clan-listing.new:hover
    {
        border: 2px solid rgb(83 255 133);
    }

    .clan-listing .card .form-control
    {
        width: 65%;
        font-size: 12px;
        color: silver;
    }

    .clan-listing .card .btn-submit
    {
        background: #000;
        color: silver;
    }

    .clan-listing .username
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        justify-content: center;
        height: 40px;
    }

    .clan-listing .new-clan
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
        justify-content: center;
        height: 213px;
    }

    .clan-listing .btn-activate
    {
        font-size: 13px;
        font-weight: 600;
        background: #0068d2;
        color: #fff;
        border: 0;
    }

    .clan-listing .card
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .clan-listing .card > p
    {
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: left;
        color: #5d5d5d;
        font-weight: 600;
    }

    .clan-listing .clan-status > p,
    .clan-listing .card > p
    {
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: left;
        color: #5d5d5d;
        font-weight: 600;
    }

    .clan-listing .clan-status
    {
        width: 100%;
    }

    .clan-username button.reject
    {
        background-color: black;
        border-color:black;
    }

    .clan-username button.accept
    {
    }

}
