$font-primary: "Noto Sans", sans-serif;
$font-emoji: "Noto Color Emoji", sans-serif;
%font-primary-regular {
    font-family: $font-primary;
    font-weight: normal;
    font-style: normal;
}

%font-primary-bold {
    font-family: $font-primary;
    font-weight: 700;
    font-style: normal;
}
