// Colours
$primary: #ffffff;
$secondary: #00ff8a;
$tertiary: #ffb300;
$color-green: #00ff8a;
$color-lost: #ff0068;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $color-green,
  "info": $tertiary
) !default;

// Typography
$font-family-sans-serif: $font-primary;
$font-impact: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$headings-line-height: 1.1;

// Buttons
$btn-padding-x: 1.65rem;
$btn-padding-y: 0.75rem;
$btn-border-radius: 5px;

// Dropdowns
$dropdown-border-radius: 2px;

//
// Breakpoints
// Example use
// @media (min-width: $sm-width) { }

$xs-width: 393px;
$sm-width: 567px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;
$xxxl-width: 1600px;
$xxxxl-width: 1920px;
$xxxxxl-width: 3840px; // Comedy now.

html,
body {
  --bs-body-color: #f1f1f1;
}

$container-padding-x: 3.5rem;

$headings-margin-bottom: 1.5rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
) !default;

.color-gold 
{
    color: #ffd900;
}

.color-green 
{
    color: #00ffc6;
}




// Pagination
$pagination-bg: transparent;
$pagination-color:  #fff;
$pagination-border-color: transparent;
$pagination-border-radius: 0;
$pagination-hover-color: lighten(#798199, 15%);
$pagination-hover-bg: transparent;
$pagination-hover-border-color:transparent;
$pagination-focus-color: #fff;
$pagination-focus-bg: transparent;

$pagination-active-color: #000;
$pagination-active-bg: #fff;
$pagination-active-border-color: transparent;


// Input fields
$input-btn-padding-y: 0.7rem;
$input-btn-border-width: 0;
// $input-bg: #000;
// $input-color: $body-color;

// Modals
// $modal-content-color: $body-color;
// $modal-content-bg: #000;
$modal-content-border-color: transparent;
$modal-header-border-color:transparent;
$modal-footer-border-color:transparent;

// Btn close
// $btn-close-color: $body-color;

// Tooltips
// $tooltip-color: $body-color;
// $tooltip-bg: #000;
$tooltip-opacity: 1;
$tooltip-font-size: 1rem;


.font-impact {
  font-family: $font-impact;
}